.S_MenuBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;

  .C_MainMenu {
    display: flex;

    .A_MainMenuItem {
      margin: 0 20px;
    }
  }
}
