body.simplegrid {
  // background: var(--pink);

  .mainGrid {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    column-gap: 12px;
    width: 996px;
    margin: 0 auto;
    background: lightgrey;

    .books {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 40px;
      row-gap: 40px;
      grid-column: 3 / 23;
      background: pink;
    }
  }

  .flexbox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 840px;
    margin: 100px auto;
    background: lightgrey;

    .bookWrapper {
      margin: 0 20px 40px;
    }
  }

  .bookWrapper {
    position: relative;
    width: 240px;
    height: 348px;
    background-color: var(--book);

    .book {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 240px;
      height: 348px;
      text-align: center;

      h2 {
        margin-top: 90px;
        font-size: 16px;
      }

      h3 {
        margin-top: 10px;
        font-size: 12px;
      }
    }

    .issueWrapper {
      position: absolute;
      bottom: 10px;
      left: 10px;
      // z-index: 1;
      width: 220px;
      height: 30px;
      text-align: center;

      li {
        display: inline;

        a {
          margin: 0 10px;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
