<% const { menubar } = require('../menubar.js') %>

<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Луна</title>
    <analytics></analytics>
  </head>

  <body class="article">
    <div class="S_MenuBar"><%= menubar %></div>

    <div>
      <a href="../">На главную</a>
    </div>

    <div>
      <a href="../spaceobjects.html">В раздел «Космические объекты</a>
    </div>

    <div>Луна</div>
  </body>
</html>
