<!-- prettier-ignore -->
<%
  const { menubar } = require('./menubar.js')
  const { content } = require('./index.js')
%>

<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>

  <body class="index">
    <div class="S_MenuBar"><%= menubar %></div>

    <div class="modal">
      <div class="modalFader">
        <div class="modalWindow">
          <div>Это модальное окно</div>
          <div id="closeModal">Закрыть</div>
        </div>
      </div>
    </div>

    <div id="openModal">Открыть попап</div>

    <br />
    <br />

    <div id="reset">Стереть куки</div>

    <br />
    <br />

    <div class="O_Select">
      <div class="M_SelectField">
        <input class="A_SelectInput" type="text" placeholder="Type text" />
        <div class="A_SelectDropdownButton">V</div>
      </div>

      <div class="C_SelectOptionList"></div>
    </div>

    <br />
    <br />

    <div class="O_MultiSelect">
      <div class="M_MultiSelectField">
        <div class="A_MultiSelectInput" contenteditable="true"></div>
        <div class="A_MultiSelectDropdownButton">V</div>
      </div>

      <div class="C_MultiSelectOptionList"></div>
    </div>

    <br />
    <br />

    <div class="O_Search">
      <input class="A_SearchInput" type="text" />
    </div>

    <div class="S_LandingContent"><%= content %></div>

    <script
      async
      src="https://comments.app/js/widget.js?3"
      data-comments-app-website="0TpTn1_V"
      data-limit="5"
      data-page-id="home"
      data-dark="1"
    ></script>
  </body>
</html>
