<% const { menubar } = require('./menubar.js') %>

<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>

  <body class="search">
    <div class="S_MenuBar"><%= menubar %></div>

    <section class="W_ContentReactModule"></section>
  </body>
</html>
