<% const { menubar } = require('./menubar.js') %>

<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Космические тела</title>
    <analytics></analytics>
  </head>

  <body class="articles">
    <div class="S_MenuBar"><%= menubar %></div>

    <div>
      <a href="/">На главную</a>
    </div>

    <h2>Космические тела</h2>
    <ul>
      <li>
        <a href="/spaceobjects/moon.html">Луна</a>
      </li>
    </ul>
  </body>
</html>
